<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue</title>
	
	<link href='basic.css' rel='stylesheet' type='text/css'>


</head>
<body>
	<div id="hello">
	<div v-if="seen">seen 可见</div>
	<div v-else>seen 不可见</div>
		<div v-bind:title="bindTitle">{{hello}}</div>
		<ul>
			<li  v-for="(item,key) in usersArr"  :data-id="'a'+item.id" v-on:click="showAlert(key)">{{key+1}}.{{item.name}}</li>
		</ul>	

		<input type="text" v-model="input_name">
		<br>
		<input type="text" v-model="inputObj.input_name">
		<br>
		
		<select name="select_name" :haha="nameCheckedId" v-model="nameCheckedId">
			<option  v-for="user in usersArr" :value="user.id" v-bind:user-id="user.id">{{user.name}}
			</option>
		</select>
		<br>
		<div>
			<input type="radio" name="aa" id="" value = "1" v-model="radioVal">1
			<input type="radio" name="aa" id="" value = "2" v-model="radioVal">2
		</div>

		<div>
			<input type="checkbox" name="bb" id="" value = "1" v-model="checkboxArr">1
			<input type="checkbox" name="bb" id="" value = "2" v-model="checkboxArr">2
		</div>



		<div v-once>{{input_name}}</div>
		<div v-html="rawHtml" v-bind:class="['a','b']"></div>

		<div>{{wordA|big}}//使用过滤器实现</div>
		<div>{{computedBig}}//使用计算属性实现</div>












		<com1 v-bind:p_show_alert="showAlert" v-bind:p_user="usersArr" v-bind:p_input_name="input_name" v-on:changeinput="getChildMsg" :input_obj="inputObj" ref="com1"></com1>


		

	</div>

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="basic.js"></script>
</body>
</html>